name: Build and Release WASM

on:
  workflow_dispatch:

  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Install Binaryen
        env:
          GH_TOKEN: ${{ github.token }}
        run: just install-binarygen

      - name: Build WASM
        run: just release

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/oauth_blob_optimized.wasm
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

